<config>
	<database>
		<pms>
			<host>pmmain2010.db.6917949.hostedresource.com</host>
			<name>pmmain2010</name>
			<username>pmmain2010</username>
			<password>mp01!02PM01*</password>
			<driver>mysql</driver>
			<prefix></prefix>
		</pms>
		<mosso>
			<host>mysql50-95.wc1.dfw1.stabletransit.com</host>
			<name>567160_saturday</name>
			<username>567160_market</username>
			<password>Pms97206</password>
			<driver>mysql</driver>
			<prefix></prefix>
		</mosso>
	</database>
	<ini>
		<display_errors>1</display_errors>
		<error_reporting>6143</error_reporting>
		<memory_limit>96M</memory_limit>
		<log_errors>1</log_errors>
	</ini>
	<base>
		<date_default_timezone_set>America/Los_Angeles</date_default_timezone_set>
		<domain>shop.saturdaymarket.org.php5-19.dfw1-1.websitetestlink.com</domain>
		<url>http://shop.saturdaymarket.org.php5-19.dfw1-1.websitetestlink.com/</url>
		<secure_url>http://shop.saturdaymarket.org.php5-19.dfw1-1.websitetestlink.com/</secure_url>
		<site_title>Saturday Market</site_title>
		<database>mosso</database>
		<debug></debug>
		<force_ssl></force_ssl>
		<salt>6hu7d46357ih6bftyguh75bjvhgeh7t6537ihg</salt>
	</base>
	<theme>
		<gzip>1</gzip>
		<name>saturday</name>
		<avatar_default></avatar_default>
	</theme>
	<merchants>
		<test_mode>1</test_mode>
		<promocode>MarketPays</promocode>
		<gateway>InternetSecure</gateway>
		<InternetSecure>
			<host>https://direct.internetsecure.com</host>
			<MerchantNumber>53551</MerchantNumber>
		</InternetSecure>
	</merchants>
	<routing>
		<prefixes></prefixes>
		<admin></admin>
	</routing>
	<plugins></plugins>
	<products>
		<per_page>15</per_page>
	</products>
	<services>
		<per_page>15</per_page>
	</services>
</config>